<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css}" />

<head>
<link rel="shortcut icon" th:href="@{images/recordworld.ico}" />
<title>The people in our Exam app for now</title>
</head>
<body>

	<div class="database_table" align="center">
		<h2 class="overviewTitle">People in exam app:</h2>


		<p th:each="person : ${people}" th:text="${person.firstName}+ ' ' + ${person.lastName}+ ' ' +${person.address}+ ' ' +${person.phone}" />
		<p th:each="person : ${people}" th:text="${person.address}" />
		<p th:each="person : ${people}" th:text="${person.phone}" />
		
	</div>

</body>
</html>
