<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css}" />

<head>
<link rel="shortcut icon" th:href="@{images/recordworld.ico}" />
<title>The people in our Exam app for now</title>
</head>

<body th:inline="text">

	<div class="database_table" align="center">
		<h2 class="overviewTitle">People in exam app:</h2>
		<table>
		<tr>
		<th>Voornaam</th>
		<th>Achternaam</th>
		<th>Adres</th>
		<th>Telefoonnummer</th>
		<th>Email</th>
		</tr>
		<tr th:each="person : ${people}">
				<td>[[${person.firstName}]]</td>
				<td class="lastname"><pre>[[${person.lastName}]]</pre></td>
				<td>[[${person.address}]]</td>
				<td>[[${person.phone}]]</td>
				<td>[[${person.mail}]]</td>
			
		</tr>
		</table>

	</div>
	
	<div class="database_table" align="center">
		<h2 class="overviewTitle">Category's in exam app:</h2>

		<option th:each="category : ${categories}">
			<p>
				Naam van de categorie: [[${category.name}]];
				Hoofdstuk waar het te vinden is: [[${category.chapter}]];
			</p>
			
		</option>

		
	</div>
	

</body>
</html>
